.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-family: 'NTR', sans-serif;
    text-transform: uppercase;
}

.about-text {
    padding: 2em 2em 2em 0;
    border-right: 2px solid white;
}


.resume-bttn {
    color: white;
}

.resume-bttn:hover {
    color: #A7BDDD;
    text-decoration: none;
}

.arrow{
    margin-left: 10px;
}

.arrow:hover{
    position: relative;
    transform: translateX(50%);
    transition: 0.5s ease-in;
}

.about-pic {
    margin-left: 5em;
    height: 450px;
    width: 300px;
    border-radius: 10px;
}

.about-overlay {
position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #A7BDDD;
  overflow: hidden;
  width: 0;
  height: 100%;
  border-radius: 10px;
  transition: .5s ease;
}

.overlay-container:hover .about-overlay {
    width: 80%;
  }

  .about-overlay-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    white-space: nowrap;
  }