.about {
    height: 100vh;
}

.about-title {
    font-family: 'NTR', sans-serif;
    text-transform: uppercase;
}

.about-text {
    padding: 2em 2em 2em 0;
    border-right: 2px solid white;
}

.about-pic {
    height: 450px;
    width: 300px;
    margin-left: 2em;
}