.home {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.home-bg {
    background: url('./assets/jelly.jpeg') center;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.home-landing-title {
   margin: 20em 0 15em 0;
   padding-left: 5em;
   padding-right: auto;
}

.home-title {
    font-family: 'Anton', sans-serif;
    color: rgba(255, 255, 255, 0.3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
    font-size: 100px;
}

.first-name {
    border-bottom: 2px solid white;
}

.greeting {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    padding: 5em;
}

.greeter {
    font-family: 'NTR', sans-serif;
}

.greeter-bttn {
    font-family: 'NTR', sans-serif;
    text-transform: uppercase;
    color: white;
}

.greeter-bttn:hover {
    color: #A7BDDD;
    text-decoration: none;
}

.home-linkedIn-bttn {
    color: white;
    margin-right: 10px;
}

.home-linkedIn-bttn:hover {
    color: white;
}

.home-gitHub-bttn {
    color: white;
}

.home-gitHub-bttn:hover {
    color: white;
}