.sitebar {
    font-family: 'NTR', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.nav-inline li {
    display: inline-block;
    padding: 30px;
}

.sitebar a {
    color: white;
    text-decoration: none; 
    font-size: 15px;
    letter-spacing: 1.6px;
}

.sitebar a:hover {
    color: #A7BDDD;
    text-decoration: none; 
}